<h3>Users</h3>
<% unless locals.empty? %>
  <%= message %>
<% end %>

<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Email: <input type="email" name="email"


  <p>Password: <input type="password" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>

<!-- <form action="/signup" method="POST">
  <div class="form-group">

    <div class="form-group">
      <label for="username" name="username">Username: </label>
      <input type="text" placeholder="John Doe">
    </div>

  <div class="form-group">
    <label for="email" name="email">Email: </label>
    <input type="text" name="email" placeholder="example@123.com">
  </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input type="password" name="password">

    </div>
  <input class="btn btn-primary" type="submit">
</form> -->
