<h3>Sign Up Below</h3>


<% unless locals.empty? %>
  <%= message %>
<% end %>


<form action="/signup" method="POST">
  <div class="form-group">

    <div class="form-group">
      <label for="name" name="username">Name: </label>
      <input type="text" placeholder="John Doe">
    </div>

  <div class="form-group">
    <label for="email" name="email">Email: </label>
    <input type="text" name="email" placeholder="example@123.com">
  </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input type="password" name="password">

    </div>
  <input class="btn btn-primary" type="submit">
</form>
