<h1>Login to ToDo App!</h1>

<form method="POST" action= "/todos">

  <div class="form-group">
    <label for="username">Name: </label>
    <input type="text" placeholder="John Doe">
  </div>

  <div class="form-group">
    <label for="email">Password: </label>
    <input type="password" name="password" placeholder="******">

  </div>
  <input class="btn btn-primary" type="submit">
</form>
