<h2>Add something ToDo</h2>



<form action="todos/create" method="post">
  <p>Enter What ToDo: <input type="text" name="content"></p>

  <input class="btn btn-primary" href="" type="submit" value="Create New Thing">

</form>
