<form action="/todos/new" method="post">
  <h2>Add Something ToDo</h2>

  <div>Enter What ToDo: <input type="text" name="content"></div>

  <div>

    <input class="btn btn-primary" type="submit" value="Create ToDo">
  </div>
</form>
