
<form method="post" action="/todos/<%=@todo.id%>">

  Contents: <input type="text" value="<%=@todo.content%>" name="content">


<div>
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input class="btn btn-primary" type="submit" value="Edit">
</div>

</form>
