<form method="todo" action="/todos/<%=@todo.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  Name<input type="text" value="<%=@todo.title%>" name="name">

  Contents<input type="text" value="<%=@todo.content%>" name="content">

  <input type="submit" value="submit">
</form>
