
<p> Your ToDo List </p>
<!-- <p><%= @todo.title %></p> -->

<p><%= @todo.content %></p>


<form method="post" action="/todo/<%=@todo.id%>/delete">
  <input class="btn btn-primary" id="hidden" type="hidden" name="_method" value="DELETE">
  <input class="btn btn-primary" type="submit" value="Delete Todo">

</form>

<input class="btn btn-primary" href="/todo/<%=@todo.id%>/edit">Edit Todo>
