
<p> Your ToDo List </p>

<p><%= @todo.name %></p>

<p><%= @todo.content %></p>

  <form method="post" action="/todos/<%=@todo.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">


    <input type="submit" value="delete">
  <!-- <button type="submit" value="delete">submit</button> -->
</form>
