<p> Here are your ToDos Listed Below! </p>

    <p><%= @todo.content %>

<form method="post" action="/todos/<%=@todo.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Todo">
</form>

<a href="/todos/<%=@todo.id%>/edit">Edit Todo </a>
