<h2>Welcome to The ToDo Application!</h2>

<nav class="nav nav-pills nav-fill">

  <a class="nav-link active" href="/signup">Sign Up</a> OR

  <a class="nav-link active" href="/login"> Sign In </a>

</nav>
